.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card {
  border: none;
  height: 300px;
  margin-top: 180px;
  width: 280px;
  float: left;
  margin-left: 32px;
  border-radius: 20px;
  background: #fff;
  color: #fff;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.card-body {
  border-radius: 20px;
  background: #fff;

  margin: 20px;

  padding-right: 20px;

  padding-left: 20px;
}

.about-body {
  border-radius: 20px;

  margin: 20px;
  padding-top: 20px;

  padding-right: 20px;

  padding-left: 20px;
  background-color: #ff9470;
}

.card-shadow {
  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
    0 15px 40px rgba(166, 173, 201, 0.2);
}

.find-gradient {
  background-color: #16a085;
}
.delete-gradient {
  background-color: #f64747;
}
.create-gradient {
  background-color: #038aff;
}

.modal-gradient {
  position: absolute;
  float: left;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  padding: 10px;
  color: white;
  width: 400px;

  background-color: #4193a9;
}

.content {
  margin-left: 200px;
  margin-right: 200px;
}

.footer {
  padding-top: 70px;
  padding-bottom: 20px;
}
.found-header {
  height: 10em;
  position: relative;
}

.header-text {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;

  padding-top: 20px;

  padding-right: 20px;

  padding-left: 20px;
  padding-bottom: 20px;
}
